n8n_data/final_workflow_dodoc.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    d.user_id AS doctor_id,\n    COALESCE(u.name, u.first_name || ' ' || COALESCE(u.second_name, '')) AS doctor_name,\n    u.rating_score AS doctor_rating,\n    d.category AS doctor_category,\n    COALESCE(dq.title, '') AS qualification,\n    COALESCE(dq.description, '') AS qualification_description,\n    COALESCE(\n        MAX(COALESCE(dwe.end_year, EXTRACT(YEAR FROM CURRENT_DATE)::integer) - dwe.start_year),\n        0\n    ) AS experience_years,\n    COALESCE(d.academic_degree, '') AS academic_degree,\n    STRING_AGG(DISTINCT s.title, ', ') AS specializations,\n    STRING_AGG(DISTINCT sv.title, ', ') AS services,\n    STRING_AGG(DISTINCT c.title, ', ') AS clinics,\n    STRING_AGG(DISTINCT COALESCE(df.file_name, ''), ', ') AS licenses,\n    STRING_AGG(DISTINCT mc.title, ', ') AS doctor_cities\nFROM \n    doctors d\nINNER JOIN \n    users u ON d.user_id = u.id AND u.is_active = true AND u.deleted_at IS NULL\nLEFT JOIN \n    doctors_qualifications dq ON d.qualification_id = dq.id\nLEFT JOIN \n    specialisation_links sl ON d.user_id = sl.doctor_id\nLEFT JOIN \n    specialisations s ON sl.specialisation_id = s.id AND s.is_visible = true AND s.deleted_at IS NULL\nLEFT JOIN \n    service_links svl ON d.user_id = svl.doctor_id AND svl.visibility = true\nLEFT JOIN \n    services sv ON svl.service_id = sv.id AND sv.is_visible = true AND sv.deleted_at IS NULL\nLEFT JOIN \n    clinic_doctors cd ON d.user_id = cd.doctor_id\nLEFT JOIN \n    clinics c ON cd.clinic_id = c.user_id AND c.is_visible = true AND c.deleted_at IS NULL\nLEFT JOIN \n    main_cities mc ON u.city_id = mc.id AND mc.is_visible = true\nLEFT JOIN \n    doctor_files df ON d.user_id = df.doctor_user_id\nLEFT JOIN \n    doctor_work_experience dwe ON d.user_id = dwe.doctor_id\nWHERE \n    d.is_visible = true \n    AND d.deleted_at IS NULL\nGROUP BY \n    d.user_id, u.name, u.first_name, u.second_name, u.rating_score, d.category, dq.title, dq.description, d.academic_degree\nORDER BY \n    u.rating_score DESC NULLS LAST, u.name;\n\n",
        "options": {
          "queryBatching": "single"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        180,
        -140
      ],
      "id": "38e19754-9ac8-44e2-ab1f-a02f295d2262",
      "name": "PostgreSQL",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zQY9s17vk5obhMMA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1140,
        180
      ],
      "id": "4c6ec381-f1d7-4622-94b8-08f9be0d2846",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5IvBvEQapqDbupCG",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        -120
      ],
      "id": "ff600457-0f9d-44e5-a173-e394e2faade4",
      "name": "Webhook",
      "webhookId": "64e62919-26c9-49f4-b127-b76f0d5a4c33"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1451e872-0b17-4423-99f8-369d1b177d64",
              "name": "chatInput",
              "value": "={{ $('Webhook').item.json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "4ce00246-d5d4-476a-8c1f-52cd9a7eab3e",
              "name": "sessionId",
              "value": "=\n{{ $('Webhook').item.json.body.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        -100
      ],
      "id": "25d51f38-37b6-43f2-a5a4-5936846a32f8",
      "name": "Set"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }} ",
        "options": {
          "systemMessage": "={{ $json.formattedPrompt }} "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1240,
        -80
      ],
      "id": "20eb74f6-b040-4686-a76e-955f7d37acd0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const allDoctors = $items(\"PostgreSQL\", 0).map(item => item.json);\nconst chatInput = $('Set').first().json.chatInput;\nconst sessionID = $('Set').first().json.sessionId;\n\nconst limitedDoctors = allDoctors.slice(0, 300);\nconst formattedDoctors = JSON.stringify(limitedDoctors, null, 2);\n\nconst prompt = `\nТы — умный медицинский ассистент.\n\nПользователь может искать **врачей** или **клиники**.\n\nЕсли в сообщении есть слова: **\"клиника\"**, **\"медцентр\"**, **\"медицинский центр\"** — значит, пользователь ищет КЛИНИКУ.\n\nВ этом случае проанализируй список врачей ниже, собери уникальные клиники из поля \\`clinics\\`, и верни 3–5 самых популярных клиник по количеству врачей с высоким рейтингом.\n\nФормат:\n{\n  \"matched_clinics\": [\n    {\n      \"clinic_title\": \"...\",\n      \"clinic_city\": \"...\",\n      \"average_rating\": ...\n    }\n  ]\n}\n\nЕсли в сообщении описан симптом или специальность (например, \"невролог\", \"болит спина\", \"аллергия\") — подбери 3–5 врачей с релевантной специализацией и высоким рейтингом.\n\nИспользуй поля:\n- doctor_name\n- specializations\n- services\n- doctor_rating\n- doctor_city\n\nФормат:\n{\n  \"matched_doctors\": [\n    {\n      \"doctor_id\": ...,\n      \"doctor_name\": \"...\",\n      \"specializations\": [...],\n      \"services\": [...],\n      \"doctor_rating\": ...,\n      \"doctor_city\": \"...\"\n    }\n  ]\n}\n\nЕсли город не указан — задай вопрос: \"В каком вы городе?\" (без JSON). Города включают в себя этот список: Туркестан, Астана, Костанай, Кызылорда, Жезказган, Атырау, Тараз, Актобе, Караганда, Алматы, Шымкент, Усть-Каменогорск, Семей, Актау, Петропавловск, Уральск, Кокшетау, Талдыкорган, Павлодар.\nЕсли указан Казахстан или по всей стране — не спрашивай город, ищи по всей базе.\nЕсли запрос не связан с медициной — ответь обычным текстом (не JSON).\n\nЗапрос пользователя: \"${chatInput}\"\n\nСписок врачей:\n${formattedDoctors}\n`;\n\nreturn [{\n  json: {\n    sessionID,\n    chatInput,\n    formattedPrompt: prompt\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        -140
      ],
      "id": "d53e7119-9425-43bb-9733-f916a73e8d3e",
      "name": "Code"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionID }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1420,
        200
      ],
      "id": "a9218a33-14e5-465d-80ab-87c3e65a1671",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "zQY9s17vk5obhMMA",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "PostgreSQL": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4f055b42-3901-49ec-8bbf-466c89ee14db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03b6db517448a84570519ba00af21712614d993991de00f24c533abcf4a7da11"
  },
  "id": "5HFCqYRACjx0BzVg",
  "tags": []
}